@tailwind base;
@tailwind components;
@tailwind utilities;

.container-wrapper {
  @apply max-w-[1180px] mx-auto w-[90%];
}
.bg-grad{
  background: linear-gradient(269.26deg,#1e244b 6.59%,#2f42aa 94.04%);
}
.card-tran{
  box-shadow: 0 0 35px rgba(127,150,174,.125);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaf3;
  border-radius: 0.5rem;
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #1e2022;
}

table{
  border-collapse: collapse;
  display: table;
 
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.table .thead-light th {
  color: #7f96ae;
  background-color: #f8fafd;
  border-color: #e7eaf3;
}


.table thead th {
  border-width: 1px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e7eaf3;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e7eaf3;
}
table th {
  font-weight: 600;
}
th {
  text-align: inherit;
}