@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Nunito Sans', sans-serif;
}

.container-wrapper {
  @apply max-w-[1180px] mx-auto w-[90%];
}
.bg-grad{
  background: linear-gradient(269.26deg,#1e244b 6.59%,#2f42aa 94.04%);
}
.bg-main {
  background-image: linear-gradient(176deg,#5a69c1 51.68%,#777a87 100%);
}
.card-tran{
  box-shadow: 0 0 35px rgba(127,150,174,.125);
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e7eaf3;
  border-radius: 0.5rem;
}


.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #1e2022;
}

table{
  border-collapse: collapse;
  display: table;
 
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.table .thead-light th {
  color: #7f96ae;
  background-color: #f8fafd;
  border-color: #e7eaf3;
}


.table thead th {
  border-width: 1px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #e7eaf3;
}
.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #e7eaf3;
}
table th {
  font-weight: 600;
}
th {
  text-align: inherit;
}

.text-nowrap {
  white-space: nowrap!important;
}

a {
  color: #337afe;
  background-color: transparent;
}

.font-size-1 {
  font-size: .875rem;
}
.text-muted {
  color: #7f96ae!important;
}


.badge-warning {
  color: #fff;
  background-color: #fec933;
}


.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: all .2s ease-in-out;
}


.tile {
  border-radius: 4px;
  border: 1px solid #dee2e6;
  color: #6c757d;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 12px;
  line-height: 1.4rem;
  padding: 1rem;
}


.card-chain-blocks .card-body .tile-type-block {
  overflow: hidden;
}
.fade-up-blocks-chain .tile-type-block {
  position: relative;
}
.tile.tile-type-block {
  max-width: 100%;
}
.tile.n-p {
  padding: 0;
}
.tile.tile-type-block {
  border-left: 4px solid #3E6957;
}


.tile.tile-type-block .tile-title {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
  padding: 1rem 1rem 0 1rem;
}


.tile-bottom-contents {
  background-color: #f6f7f9;
  font-size: 12px;
  line-height: 1.2;
  padding: 0.8rem 1rem;
}

.tile-transactions {
  color: #a3a9b5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: left;
}

.text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-nowrap {
  white-space: nowrap !important;
}
.border-top{
  border-top: 1px solid #bbb3b355;
}

.footer-grid{
  display: flex;
}

.tile.tile-type-block .tile-transaction-type-block {
  background-color: rgba(62, 105, 87, 0.1);
  border-bottom: 1px solid #3E6957;
  border-right: 1px solid #3E6957;
  border-top: 1px solid #3E6957;
  color: #3E6957;
}

.tile-transaction-type-block {
  
  align-items: center;
  bottom: -17px;
 
  justify-content: center;
  margin-left: -1px;
  margin-top: -34px;
  padding: 2rem 4rem;
  position: relative;
}

.tile-label {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 2px;
  text-align: center;
}

.tile.tile-type-block .tile-status-label {
  color: inherit;
}

.tile-transaction-type-block .tile-status-label {
  padding: 0;
}
.tile-status-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  padding: 0 5px;
}

@media (max-width:768px) {
  .footer-grid{
    display: grid;
    grid-template-columns: repeat(2 ,auto);
  }
  
}